.fa-arrow-left {
    position: absolute;
    left: 0;
    top: 35%;
    font-size: 18px;
}

.menu-card {

    background-color: #F6F6F6;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.menu-card img {
    width: 40%;
    height: 100%;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
}

.menu-card i {
    font-size: 20px;
}

.courses {
    border-bottom: 4px solid #99E2D0;
    width: 50px;
    white-space: nowrap;
    padding-top: 60px;
    padding-left: 15px;
}


.dish-item {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0px;
    padding-left: 15px;
    position: relative;
    overflow: hidden;
    padding-right: 50px;

}

.dish-item:hover .green-tick,
.dish-item:active .green-tick {
    animation: 1s slideRight 1 forwards;
}

.dish-item:hover .price,
.dish-item:active .price {
    animation: 1s slideRight 1 forwards;
}

.green-tick {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #99E2D0;
    padding: 15px;
    transform: translateX(60px);
    font-size: 20px;

}

body {
    background-color: var(--main-bg-color);
}

main section {
    background-color: var(--main-bg-color);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}


.price {
    transform: translateX(30px);
    margin-right: 10px;
}

@keyframes slideRight {
    from {
        transform: translateX(40px)
    }

    to {
        transform: translateX(0);
    }
}

.dish-item h5 {
    width: 100%;
    padding-left: 0px;
    font-weight: bolder;
    font-size: medium;
    padding-top: 10px;
}

.dish-item p {
    font-weight: lighter;
    padding-left: 0;
    font-size: medium;
    padding-bottom: 5px;
}

.hero-image {
    position: absolute;
    width: 100%;
    z-index: -1;
}

main {
    margin-top: 200px;
}

.hero-image img {
    height: 260px;
    width: 100%;
    object-fit: cover;
}


.border-radius {
    border-radius: 19px;
}

.width {
    width: 95%;
}

.steps-item {
    font-size: small;
}