:root {
    --Primary: #9356DC;
    --Secondaru: #FF79DA;
    --Tertiary: #99E2D0;
    --main-bg-color: #F2F2F2;
}

* {
    font-family: "Roboto";
}

h1 {
    font-family: 'Shrikhand';
}

header {
    width: 375px;
    height: 64px;
    margin-top: 0.6em;
    background-color: #9B3636;


}

.mainNav {
    width: 375px;
    height: 48px;
    background-color: #D9D9D9;

}

.Logo {
    width: 375px;
    height: 64px;
    margin-top: 0.6em;
    background-color: #9B3636;
}

.Discovery {
    height: 287px;
    width: 375px;
    background-color: #0BD013;
}

.Steps {
    height: 441px;
    width: 375px;
    background-color: #FF1E1E;

}

.Restaurants {
    height: 1227px;
    width: 375px;
    background-color: #3AFDCE;
}

.Footer {
    height: 296px;
    width: 375px;
    background-color: #DF1EFF;


}



.mainNav {
    width: 375px;
    height: 48px;
    background-color: #D9D9D9;

}

.mainNav h4 {

    margin-left: 140px
}

.Logo {
    width: 375px;
    height: 64px;
    margin-top: 0.6em;
    background-color: #9B3636;
}

.Logo img {

    padding-left: 10px;
}

.Discovery {
    height: 287px;
    width: 375px;
    background-color: #0BD013;
}


.Steps {
    height: 441px;
    width: 375px;
    background-color: #FF1E1E;

}

.Restaurants {
    height: 1227px;
    width: 375px;
    background-color: #3AFDCE;
}

.Card {
    background-color: black;
    width: 328px;
    height: 248px;
}

.Footer {
    height: 296px;
    width: 375px;
    background-color: #DF1EFF;

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}