:root {
    --Primary: #9356DC;
    --Secondaru: #FF79DA;
    --Tertiary: #99E2D0;
    --main-bg-color: #F2F2F2;
}

* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}



header {
    width: 375px;
    height: 64px;
    margin-top: 0.6em;
    background-color: #9B3636;


}

.mainNav {
    width: 375px;
    height: 48px;
    background-color: #D9D9D9;

}

.mainNav h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo {
    width: 375px;
    height: 64px;
    margin-top: 0.6em;
    background-color: #9B3636;
}

.fa-location-dot {
    padding-right: 12px;
}


.Discovery {
    height: 287px;
    width: 375px;
    background-color: #0BD013;
}

.Discovery h1,
h4 {
    font-family: 'Roboto', sans-serif;
}


.button {
    border-radius: 2em;
    border: 1px solid transparent;
    box-sizing: border-box;
    height: fit-content;
    width: max-content;
    padding: 12px;
    background-color: #9356DC;

}

.flexCenterC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Steps {
    height: 441px;
    width: 375px;
    background-color: #FF1E1E;

}

.Steps h1,
h4 {
    font-family: 'Roboto', sans-serif;
}

.borders {
    background-color: white;
    border-radius: 1px;
    border: 2px transparent
}

.buttons {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0BD013;
}

.Restaurants {
    height: 1227px;
    width: 375px;
    background-color: #3AFDCE;
}

.Footer {
    height: 296px;
    width: 375px;
    background-color: #DF1EFF;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.fa-utensils {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.list {display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style: none;
    font-size: 10px;
    padding: 15px;}

 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}