:root {
    --Primary: #9356DC;
    --Secondaru: #FF79DA;
    --Tertiary: #99E2D0;
    --main-bg-color: #F2F2F2;
}

* {
    font-family: "Roboto";
}

h1 {
    font-family: 'Shrikhand';
}


.LogoWrapper {
    width: 100%;
}

@media (max-width: 600px) {}
